@tailwind base;
@tailwind components;
@tailwind utilities;

/* SWIPER */
.swiper-button-next:after,
.swiper-button-prev:after {
	color: #000060 !important;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
	background: #000060 !important;
}
.swiper-horizontal > .swiper-pagination-progressbar,
.swiper-pagination-progressbar.swiper-pagination-horizontal,
.swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite,
.swiper-vertical > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
	bottom: 0 !important;
	top: 85px !important;
}
