@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
}

body {
	scroll-behavior: smooth;
}

/* SWIPER */
.swiper-button-next:after,
.swiper-button-prev:after {
	color: #000060 !important;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
	background: #000060 !important;
}
.swiper-horizontal > .swiper-pagination-progressbar,
.swiper-pagination-progressbar.swiper-pagination-horizontal,
.swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite,
.swiper-vertical > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
	bottom: 0 !important;
	top: 85px !important;
}

.pouple path {
	transition: all 0.5s;
}
.pouple path:hover {
	d: path(
		'M35.27,54.16c-55,45,36.73,133.12,167.7,128.08,86.49-3.32,102.46-122.53,41-146C167.72,7.06,88,11,35.27,54.16Z'
	);
}

#goals {
	background-image: url('../public/theView.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	object-fit: cover;
}
#about {
	background-image: url('../public/who-us.webp');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	object-fit: cover;
}
